<div class="row">
    <div  id="col1" class="col-md-6 col-sm-12">
        <div class="card mt-3" *ngFor='let Notes of Notes;let i = index'>
            <div class="card-header text-center bg-primary text-white">Posted by: {{Notes.name}}</div>
            <div appHighestvote *ngIf="mostLiked()===Notes.upvote && Notes.upvote > 0" class="card-body">
                {{Notes.quote}}
            </div>
            <div  *ngIf="mostLiked()!==Notes.upvote || Notes.upvote===0" class="card-body">
                    {{Notes.quote}}
            </div>
            <div class="card-footer">
                <button class="btn btn-sm btn-outline-primary mr-4" (click)='toggleDetails(i)'>more</button>
                <app-notes-detail *ngIf='Notes.showQuote' [Notes]='Notes' (isComplete) = 'completeNotes($event, i)'></app-notes-detail>
            </div>
        </div>
    </div> 
    <div id="col2" class="col-md-6">
        <app-notes-form (addNotes)="addNewQuote($event)" ></app-notes-form>
    </div>
</div>
