*{
    font-family: 'Patrick Hand', cursive;
    font-size: 18px; 
    font-weight: bold;
    
}
#top {
    height: 60px;
    background-color: blue;
    }
#text{
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
}